@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.heading-xl {
  @apply text-[5rem] xl:text-[9rem] font-bellefair 
}

.heading-l {
  @apply text-[3.5rem] md:text-[5rem] xl:text-[6rem] font-bellefair
}

.heading-m {
  @apply text-[1.5rem] md:text-[2.5rem] xl:text-[3.5rem] font-bellefair 
}

.heading-s {
  @apply text-[1.125rem] md:text-[1.5rem] xl:text-[2rem] font-bellefair
}

.heading-xs {
  @apply text-[1rem] md:text-[1.25rem] xl:text-[1.75rem] font-barlow-condensed tracking-[4px]
}

.subheading-l {
  @apply text-[1.75rem] font-bellefair
}

.subheading-s {
  @apply text-[0.875rem] font-barlow-condensed tracking-[2px]
}

.navigation {
  @apply text-[0.875rem] xl:text-[1rem] font-barlow-condensed tracking-[2px]
}

.body {
  @apply text-[0.9375rem] md:text-[1rem] xl:text-[1.125rem] leading-[1.8] font-barlow
}